table{
    text-align: center;
    font-family: Arial;
    font-size: 12px;
}

th{
    background-color: #0D5188;
    color: white;
    width: 600px;
}
.tr1{
    background-color: #66C5E3
}
.tr2{
    background-color: #C7E7F3;
}
.tr3{
    background-color: rgb(197, 198, 199);
}
