table{
    font-family: Arial;
    font-size: 12px;
}
th{
    background-color: #0D5188;
    color: white;
    width: 600px;
}
.tr1{
    background-color: #66C5E3
}
.tr2{
    background-color: #C7E7F3;
}
.tr3{
    background-color: silver;
    text-align: center
}
.cidades{
    color: #0D5188
}
.center{
    text-align: center;
}